.w {
    margin: 0 200px;
}
body {
    background: #f3e7e9;
}
#error-message {
    color: red;
}
#login-error--message {
    color: red;
}
.navbtn .move {
    margin-right: 100px!important;
    margin-left: 0!important;
}
.navbar,.open>a{
    background-color: #a262ad!important;
}
.navbtn .blackC {
    color: black!important;
}
.navbtn .navbar-brand,.navbar-nav>li>a {
    padding: 0 40px;
    margin: 0 20px;
    line-height: 50px;
    text-align: center;
    font-weight: 500;
}
.navbtn a {
    color: white!important;
}
.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.glyphicon-bell {
    font-size: 25px;
    transform: translateY(50%);
    margin-right: 5px;
    color: black;
}



.editormd-html-preview {
    height: 300px;
}
.styleShow {
    font-size: medium;
    font-weight: bold;
    padding-bottom: 5px;
}
.table {
    box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.2);
}
.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}