<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gblog.mapper.NumMapper">
    <resultMap id="baseResultMap" type="com.example.gblog.bean.Num">
        <id property="id" column="id" />
        <result property="fansNum" column="fans_num" />
        <result property="focusNum" column="focus_num" />
        <result property="readingNum" column="reading_num" />
    </resultMap>
    <insert id="add">
        insert into x_data(user_id) values(#{userId});
    </insert>
    <update id="addReading">
        update x_data set reading_num = reading_num + 1 where user_id = #{userId};
    </update>
    <select id="getNumByUserId" resultMap="baseResultMap">
        select * from x_data where user_id = #{id};
    </select>
</mapper>