<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gblog.mapper.PayPostMapper">
    <resultMap id="baseResultMap" type="com.example.gblog.vo.BlogListVo">
        <result property="postId" column="postId" />
        <result property="userId" column="userId" />
        <result property="title" column="title" />
        <result property="avatar" column="avatar" />
        <result property="username" column="username" />
        <result property="created" column="created" />
        <result property="viewCount" column="viewCount" />
    </resultMap>
    <resultMap id="baseResultMap1" type="com.example.gblog.bean.Post">
        <id property="id" column="id"  />
        <result property="title" column="title" />
        <result property="keywords1" column="keywords1" />
        <result property="keywords2" column="keywords2" />
        <result property="keywords3" column="keywords3" />
        <result property="price" column="price" />
        <result property="content" column="content" />
        <result property="created" column="created" />
        <result property="lastmd" column="lastmd" />
        <result property="viewCount" column="view_count" />
        <result property="reviewCount" column="review_count" />
        <result property="collectCount" column="collect_count" />
        <result property="introduce" column="introduce" />
        <association property="user" column="user_id" select="com.example.gblog.mapper.UserMapper.getById"></association>
        <association property="type" column="type" select="com.example.gblog.mapper.TypeMapper.getById"></association>
    </resultMap>
    <resultMap id="baseResultMap2" type="com.example.gblog.vo.PayPostVo">
        <id column="id" property="id" />
        <result column="title" property="title"/>
        <result column="created" property="date" />
        <association property="getNum" select="com.example.gblog.mapper.OrderMapper.getNum" column="id" />
        <association property="allNum" select="com.example.gblog.mapper.OrderMapper.getAllNum" column="id" />
    </resultMap>

    <insert id="add">
        insert into x_post(title,user_id,type,keywords1,keywords2,keywords3,price,content,created,lastmd,introduce)
                        values(#{post.title},#{userId},#{type},#{post.keywords1},#{post.keywords2},#{post.keywords3},#{post.price},#{post.content},now(),now(),#{post.introduce});
    </insert>
    <update id="update">
        update x_post set title = #{post.title},content = #{post.content},keywords1 = #{post.keywords1},
                    keywords2 = #{post.keywords2},keywords3 = #{post.keywords3},price = #{post.price} where id = #{post.id} and type = 2;
    </update>
    <update id="del">
        update x_post set x_post.status = 1 where id = #{id};
    </update>
    <select id="getPostPay" resultMap="baseResultMap">
       select
        x_post.id as postId,
        x_user.id as userId,
        x_post.title as title,
        x_user.avatar as avatar,
        x_user.username as username,
        x_post.created as created,
        x_post.view_count as viewCount
         from x_post left join x_user on x_post.user_id = x_user.id where introduce is not null and type = 2 and x_post.status = 0 order by created desc limit #{st},#{size};
    </select>
    <select id="getTotalPay" resultType="java.lang.Integer">
        select count(1) from x_post where introduce is not null and type = 2 and x_post.status = 0;
    </select>
    <select id="getById" resultMap="baseResultMap1">
        select * from x_post where id = #{id} and type = 2;
    </select>
    <select id="getByUserId" resultMap="baseResultMap2">
        select * from x_post where user_id = #{userId} and type = 2 order by created desc limit #{st},#{size};
    </select>
    <select id="getTotalPayByUserId" resultType="java.lang.Integer">
        select count(1) from x_post where user_id = #{userId} and type = 2;
    </select>
    <resultMap id="special" type="com.example.gblog.vo.CollVo">
        <result column="postId" property="postId"/>
        <result column="userId" property="userId"/>
        <result column="typeName" property="typeName"/>
        <result column="username" property="username"/>
        <result column="date" property="date"/>
        <result column="title" property="title"/>
    </resultMap>
    <select id="getColl" resultMap="special">
        SELECT username,title,x_post.created as date,x_user.id AS userId,x_post.id AS postId,type_name AS typeName FROM x_coll LEFT JOIN x_post ON x_coll.post_id = x_post.id LEFT JOIN  x_user ON x_post.`user_id` = x_user.id
        LEFT JOIN x_type ON x_type.id = x_post.`type` where x_coll.user_id = #{userId} limit #{st},#{size};
    </select>
    <select id="getTotalColl" resultType="java.lang.Integer">
        select count(1) from x_coll where user_id = #{userId};
    </select>
</mapper>