<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gblog.mapper.UserMapper">
    <!--
        id INT PRIMARY KEY AUTO_INCREMENT COMMENT "主键id",
        username VARCHAR(20) NOT NULL COMMENT "用户名",
        email VARCHAR(20) NOT NULL COMMENT "邮箱",
        PASSWORD VARCHAR(255) NOT NULL COMMENT "密码",
        SIGN VARCHAR(255) DEFAULT "这个人很懒，什么都没写" COMMENT "个性签名",
        birthday DATETIME   DEFAULT "2000-01-01" COMMENT '生日',
        created DATETIME   NOT NULL COMMENT '创建日期',
        modified DATETIME   NULL COMMENT '最后修改时间',
        qqnum  VARCHAR(20) DEFAULT "未设置",
        STATUS INT DEFAULT '0'
    -->
    <!-- bean映射类 -->
    <resultMap id="BaseResultMap" type="com.example.gblog.vo.RegisterVo">
        <id property="id" column="id" />
        <result property="avatar" column="avatar" />
        <result property="gender" column="gender" />
        <result property="username" column="username" />
        <result property="email" column="email" />
        <result property="sign" column="sign" />
        <result property="birthday" column="birthday" />
        <result property="created" column="created" />
        <result property="modified" column="modified" />
        <result property="status" column="status" />
    </resultMap>
    <!-- vo映射类 -->
    <resultMap id="BaseResultMapVo" type="com.example.gblog.vo.RegisterVo" extends="BaseResultMap">
        <result property="password" column="password" />
    </resultMap>
    <!-- 注册用户 -->
    <insert id="register" parameterType="com.example.gblog.vo.RegisterVo">
        insert into x_user(username,email,password,created,modified) values (#{username},#{email},#{password},now(),now())
    </insert>
    <!-- 获取用户信息 -->
    <select id="getUserByUsernameAndPassword" resultMap="BaseResultMapVo">
        select * from x_user where email = #{email};
    </select>
    <select id="getById" resultMap="BaseResultMap">
        select * from x_user where id = #{id};
    </select>
    <select id="hasEmail" resultType="java.lang.Integer">
        select count(1) from x_user where email = #{email};
    </select>
    <!-- 更新用户的登录状态 -->
    <update id="updateStatus">
        update x_user set status = #{code} where email = #{email}
    </update>
</mapper>